<!-- @header -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
%label_table%

<form action="%form_action%" method="post" id="gprops">
<input type="hidden" name="group_id" value="%gid%">
%table%
</form>


%props_groups%
 </div>
 </div>
</div>


<!-- @label_table_group -->
<h3>[#catalog_group_prop_list_mainlabel#] <span class="highlight">"%name%"</span></h3>
<!-- @label_table_global -->
<h3>[#catalog_group_prop_list_mainlabel_global#]</h3>

<!-- @table_header -->
<table class="admin_table">
  <tr>
     <th width="15" class="first">[#catalog_group_prop_list_table_label_num#]</th>
     <th>[#catalog_group_prop_list_table_label_name#]</th>
     <th>[#catalog_group_prop_list_table_label_namedb#]</th>
     <th>[#catalog_group_prop_list_table_label_global#]</th>
     <th>[#catalog_group_prop_list_table_label_type#]</th>
     <th>[#catalog_group_prop_list_table_label_order#]</th>
     <th>[#catalog_prop_in_group_header#]</th>
     <th class="last">[#catalog_group_prop_list_table_label_actions#]</th>
  </tr>
<!-- @property -->
<tr>
 <td width="15">%num%</td>
 <td>%property_name%</td>
 <td style="max-width:125px; word-wrap:break-word;">%property_dbname%</td>
 <td>%property_global%</td>
 <td style="max-width:125px; word-wrap:break-word;">%property_type%</td>
 <td><input type="text" name="porder[%property_id%]" value="%order%" style="width:25px; margin:0 auto; float:none;"></td>
 <td> %visible_in_group_checkbox%</td>
 <td>%actions%</td>
</tr>


<!-- @property_enum_sep -->
;
<!-- @property_enum_value -->
%val%
<!-- @property_enum -->
<tr>
 <td width="15">%num%</td>
 <td>%property_name%</td>
 <td style="max-width:125px; word-wrap:break-word;">%property_dbname%</td>
 <td>%property_global%</td>
 <td style="max-width:125px; word-wrap:break-word;">
     %property_type%<br>
     %property_enum_values%
 </td>
 <td><input type="text" name="porder[%property_id%]" value="%order%" style="width:25px; margin:0 auto; float:none;"></td>
 <td> %visible_in_group_checkbox%</td>
 <td>%actions%</td>
</tr>


<!-- @property_set_sep -->
;
<!-- @property_set_value -->
%val%
<!-- @property_set -->
<tr>
 <td width="15">%num%</td>
 <td>%property_name%</td>
 <td style="max-width:125px; word-wrap:break-word;">%property_dbname%</td>
 <td>%property_global%</td>
 <td style="max-width:125px; word-wrap:break-word;">
     %property_type%<br>
     %property_set_values%
 </td>
 <td><input type="text" name="porder[%property_id%]" value="%order%" style="width:25px; margin:0 auto; float:none;"></td>
 <td> %visible_in_group_checkbox%</td>
 <td>%actions%</td>
</tr>

<!-- @visible_in_group_checkbox -->
<input type="checkbox" name="grprop[%prop%]" style="float:none; margin:0 auto;" %grprop_checked%>

<!-- @property_is_global -->
<img src="/admin/templates/default/images/24-em-check-gray.gif"/>
<!-- @property_is_no_global -->

<!-- @property_del_link -->
 <a href="#" onclick="jspub_confirm('prop_delete&groupid=%groupid%&id=%property_id%&idg_control=%idg_control%','[#catalog_group_prop_list_actions_del_alert#] %property_name%?')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#catalog_group_prop_list_actions_del_alert#] %property_name%?"/></a>
<!-- @property_edit_link -->
 <a href="#" onclick="jspub_click('prop_edit&id=%property_id%&id_group=%groupid%&idg_control=%idg_control%')"><img src="/admin/templates/default/images/icon_edit.gif" alt="[#catalog_action_edit#]"/></a>


<!-- @table_footer -->
</table>
<fieldset class="page_submit_field">
   <input type="button" onclick="jspub_click('prop_edit&id=0&id_group=%groupid%&idg_control=%groupid%')" value="[#catalog_edit_property_bt_add_prop#]">
 <input type="submit" name="save_gprops_order" value="[#catalog_group_prop_list_table_label_change_sord#]">

</fieldset>
<!-- @no_props -->
<input type="button" onclick="jspub_click('prop_edit&id=0&id_group=%groupid%&idg_control=%groupid%')" value="[#catalog_edit_property_bt_add_prop#]">


<!--@option_group_add -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span> &rarr; Добавить группу опций </span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Добавить группу вариаций для товара</h3>

            <form action="%form_action%" method="POST" id="save_group_form">

                <table class="container" style="margin-bottom:0;">
                    <tr>
                        <th style="max-width:250px; text-align:left;">Название группы</th>
                        <th>[#catalog_item_edit_table_value_label#]</th>
                    </tr>

                    <tr>
                        <td align="left" valign="middle"><b>Название группы:</b></td>
                        <td align="center"><input name = "group_title" type="text" ></td>
                    </tr>

                    <tr>
                        <td colspan="2">

                            <input type="button" value = "Сохранить"  onclick="santaFormSubmit('save_group_form')" />

                        </td>

                    </tr>
                </table>
            </form>

        </div>
    </div>
</div>


<!--@props_groups_list -->
<fieldset class="page_submit_field">
<h3>Список групп вариаций товарной группы</h3>
%props_groups_table%
<input type="button" style="float:left" onclick="jspub_click('option_group_edit&group_id=%groupid%')" value="Добавить группу вариаций">
</fieldset>

<!--@props_groups_null -->
<fieldset class="page_submit_field" style="margin-top: 30px">
    <h3 style="text-align: left">Список групп вариаций товарной группы</h3>
    Список пуст
    <br/>
    <input type="button" style="float:left" onclick="jspub_click('option_group_edit&group_id=%groupid%')" value="Добавить группу вариаций">
</fieldset>

<!--@props_groups_table -->
<table class = "admin_table">
<tr>
   <th>№</th> <th>Название</th><th>Действия</th>
</tr>
    %rows%
</table>

<!--@props_groups_tr -->
<tr>
    <td>%id%</td>
    <td>%title%</td><td>
    <a onclick="jspub_confirm('option_group_delete&group_id=%groupid%&group_option_id=%id%','Вы действительно хотите удалить группу вариаций?')" href="#">

        <img src="/admin/templates/default/images/icon_delet.gif">
    </a>

    <a onclick="jspub_click('option_group_edit&group_id=%groupid%&group_option_id=%id%')" href="#">
        <img alt="catalog_action_edit" src="/admin/templates/default/images/icon_edit.gif" />
    </a>
</td></tr>