<!--
Шаблон карточки товаров

Содержит секции и переменные, которые могут быть использованы:

@item - Основной блок, которым замещается метка в шаблоне, при переходе к карточки товара.
@item_prop_group[n] - Блок группировки опций у товара, где n - id группы опции товара. Если n не указан, берется @item_prop_group
@item_prop_option_item[n]  - Блок опции товара. Включает в себя все измененные переменные + наследует основные свойства товара. Если n не указан, берется item_prop_option_item

@cat_way_block 	- Определяет внешний вид «Дороги» товара
@cat_way_separator 	- Определяет внешний разделителя в «дороге» товара
@cat_way_active - Определяет внешний активного элемента «дороги» товара, т.е той категории в которой находится данный товар
@cat_way_passive - 	Определяет внешний не активного элемента «дороги» товара, т.е. родительских категорий
cat_link - Заменяется ссылкой для перехода к конкретной странице в «дороге»
cat_name - Заменяется названием конкретной страницы в «дороге»
Блоки типа @property 	property_value	- 	Определяет внешний вид свойства property товара
Блоки типа @property_null 	-	- 	Определяет, что будет выводиться вместо свойства property товара, если оно не заполнено в базе
Переменная типа property_value - Выводит значение свойства property товара
%image_small%	-	Определяет вывод маленькой картинки, если поле с ID 'image' является изображением
%image_value%	-	Определяет вывод средней картинки, если поле с ID 'image' является изображением
%image_source%	-	Определяет вывод большой картинки, если поле с ID 'image' является изображением
%item_group[n]  -   Вывод групп опций у товара, где n - id группы опций.
%compare_link% - Перменная, которая содержит ссылку на сравнение товара
%basket_link% - Перменная, которая содержит ссылку на добавление товара в корзину
 -->

<!-- ****************************************** Шаблон карточки товаров ****************************************** -->

<!-- @item -->
<p class="title">%name_value%</p>
<p><img class="left" src="%image_source%" alt="%name_value%" /> %description_value%</p>
<p>Цена: %price_value% руб.</p>
%item_group%
<p style="text-align:right;"><noindex><a href="%compare_link%">Сравнить</a> | <a href="%basket_link%">В корзину</a></noindex></p>
[#recomendation#]
<!-- @item_prop_group -->
<fieldset>
    <legend>%group_title%</legend>
    <table>
        <tr>
        <th>Вариант</th><th>Изображение</th><th>Опция</th><th>Цена</th>
        </tr>
         %option_items%
    </table>
</fieldset>

<!-- @item_prop_option_item -->
<tr>
    <td>
        %choice%
    </td>

    <td>
      <img src = "%image_small%" />
    </td>

    <td>
        %name_value%
    </td>
    <td>
        %price_value%
    </td>

    <td>
        <a href="%basket_link%&option_group=%option_group%&choice=%choice%">[В корзину]</a>
    </td>
</tr>
