<!-- @list_null -->

<h3>нет товаров для сравнения</h3>

<!-- @less_than_two -->
<h3>товаров должно быть минимум 2</h3>

<!-- @content -->
<style type="text/css">
    tr.diff{
        font-weight: bold;
        color: #8e0000;
    }

</style>

<form action="%compare_link%" method="post">
    <table class = "compare" border="1" cellpadding="1" cellspacing="1">
        <tr>
            <th>&nbsp;</th>
            %items_headers%
        </tr>
        %rama_line%
        %price_line%
        %manufacturer_line%
        %tovartype_line%
        %voltage_line%
        %weight_line%
    </table>

    <input class = "button" type="submit" value="убрать выбранные из сравнения">
</form>

<!-- @prop_value -->
<td>%value%</td>

<!-- @prop_values_separator -->

<!-- @diff_value_line -->
<tr class="diff">
    <th style="color:#ffff00">%name_full%</th>
    %prop_values%
</tr>

<!-- @same_value_line -->
<tr class="same">
    <td style="font-weight: bolder">%name_full%</td>
    %prop_values%
</tr>

<!-- @iheaders_separator -->

<!-- @item_header -->
<th>
    %name_value%
    <br><input type="checkbox" name="remove_from_compare[]" value="%item_id%">
</th>