<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Системные действия</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content" style="height:92%;">
 <h3>Системные действия</h3>
 <table class="admin_table">
  <tr>
       <th width="200" class="first">[#global_prop_action_global_tab_label_1#]</th>
       <th class="last">[#global_prop_action_global_tab_label_2#]</th>
  </tr>
  <tr>
       <td width="200"><a href="" onclick="jspub_click('set_full_cmod'); return false;">[#global_prop_action_global_1#]</a></td>
       <td align="left" style="text-align:left;">[#global_prop_action_global_1_text#]</td>
  </tr>
  <tr>
       <td width="200"><a href="" onclick="jspub_click('set_lim_cmod'); return false;">[#global_prop_action_global_2#]</a></td>
       <td align="left" style="text-align:left;">[#global_prop_action_global_2_text#]</td>
  </tr>
  <tr>
       <td width="200"><a href="" onclick="jspub_click('lang_reinstal'); return false;">[#global_prop_action_global_3#]</a></td>
       <td align="left" style="text-align:left;">[#global_prop_action_global_3_text#]</td>
  </tr>
  <tr>
       <td width="200"><a href="" onclick="jspub_click('flush_cache'); return false;">[#global_prop_action_global_4#]</a></td>
       <td align="left" style="text-align:left;">[#global_prop_action_global_4_text#]</td>
  </tr>
</table>
  </div>
 </div>
</div>
