<!-- @body -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Информация о системе</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
 <h3>Информация о сервере</h3>
 <ul>
  <li>Версия сервера: [#SERVER_SOFTWARE#]</li>
  <li>IP адрес сервера: [#SERVER_ADDR#]</li>
  <li>Ваш IP адрес: [#REMOTE_ADDR#]</li>
 </ul>

 <h3>Особенности работы</h3>
 <ul>
  <li>Изменения всех прав скриптом: [#SERVER_CAN_CHMOD_SCRIPT#]</li>
  <li>Доступ к файлам по FTP: [#SERVER_CAN_FTP_CONNECT#]</li>
  <li>Ваш IP адрес: [#REMOTE_ADDR#]</li>
 </ul>

 <h3>Версия CMS</h3>
 <ul>
  <li>Ядро: [#version_kernel#]</li>
  <li>Наличие обновлений: [#new_version_info#]</li>
  <!--li>Административный интерфейс: [#version_gui#]</li>
  <li>Версия редактора: [#version_content_editor#]</li-->
 </ul>
 </div>
        </div>
</div>