<!-- @field -->
<tr>
    <td>%title_value%</td>
    <td>%type_value%</td>
    <td>%action_del%</td>
</tr>

<!-- @action_field-->
<a href="#" onclick="jspub_confirm('%action_del%','Вы действительно хотите удалить поле? Все данные в комментариях с этим полем будут потеряны!');"><img src="/admin/templates/default/images/icon_delet.gif" alt="delete"/></a>


<!-- @main -->
<span class="content_header">Структура &rarr; <span class="black">Дополнительные свойства</span></span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Список полей</h3>


            <table class="admin_table">
                <tr>
                    <th>Название поля</th>
                    <th>Тип</th>
                    <th colspan="2">...</th>
                </tr>
                %fields%
            </table>

            <input type="button" onclick="jspub_click('page_field_add');" value="Добавить поле" style="margin-bottom: 30px;">



        </div></div></div>




<!-- @add_field -->
<span class="content_header">Структура &rarr; <span class="black">Дополнительные свойства</span></span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>Добавить поле</h3>

            <form id = "comment_field_form" action="%form_action%" method="POST">

                <fieldset>
                    <label for="name" style="width:150px;">Имя поля</label>
                    <input type="text" style="width:455px;" id="name" name="name">
                </fieldset>



                <fieldset>
                    <label for="id" style="width:150px;">id поля (латиницей)</label>
                    <input type="text" style="width:455px;" id="id" name="id">
                </fieldset>

                <fieldset>
                    <label for="type" style="width:455px;">Тип</label>
                    <select  id="type" name="type">
                        <option value="string">Строка</option>
<!--                        <option value="file">Текст</option>-->
                <!--        <option value="select">Выбор</option>-->
                        <option value="checkbox">Галочка</option>
                        <option value="pagesite">Страница</option>
<!--                        <option value="date">Дата</option>
                        <option value="textarea">Текст</option>-->
                    </select>
                </fieldset>

                <fieldset class="page_submit_field">
                    <input type="button" name="" onclick="santaFormSubmit('comment_field_form'); return false;" value="[#comments_submit_label#]">
                </fieldset>
            </form>

        </div></div></div>