<!--
Дорога сайта

Секции:
@begin 	-Выводится один раз, перед самым началом построения дороги.
@link - 	Выводится для элемента дороги (страницы сайта), на который(-ой) может перейти пользователь.
@activelink  - Выводится для элемента дороги (страницы сайта), на котором(-ой) сейчас находится пользователь.
@passiveactive 	- Выводится для элемента дороги, который находится в текущей дороге пользователя, и выше по уровню от текущей страницы.
@delimiter 	- Выводится между любыми элементами дороги.
@end 	Пустая строка 	Выводится один раз, в самом конце построения дороги.

Переменные:
%id% - ID-страницы
%position% - Порядковый номер позиции в пути
%link% - сформированный URI
%text% - анкор ссылки
%title% - заголовок страницы при его наличии

 -->

<!-- ****************************************** Шаблон дороги сайта ****************************************** -->

<!-- @begin -->
			<p id="crumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
<!-- @link -->
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 
					<a href="%link%" title="%title%" itemprop="item">
						   <span itemprop="name">%text%</span>
					</a>
				<meta itemprop="position" content="%position%" />	 
				</span>				
<!-- @activelink -->
				<span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"> 	
					<a href="%link%" title="%title%" itemprop="item">
						   <span itemprop="name">%text%</span>
					</a>
				<meta itemprop="position" content="%position%" />	 
				</span>				 
<!-- @delimiter -->
<!-- @end -->
			</p>